<form method="post" action="{{ path('app_autor_delete', {'id': autor.id}) }}" onsubmit="return confirm('Estas seguro de eliminar este item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ autor.id) }}">
    <button class="btn">Eliminar</button>
</form>
