{% extends 'base.html.twig' %}

{% block title %}Modificar Autor{% endblock %}

{% block body %}
    <h1>Modificar Autor</h1>

    {{ include('autor/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('app_autor_index') }}">volver a la lista</a>

    {{ include('autor/_delete_form.html.twig') }}
{% endblock %}
