{% extends 'base.html.twig' %}

{% block title %}Nuevo Autor{% endblock %}

{% block body %}
    <h1>Registro de Autor</h1>

    {{ include('autor/_form.html.twig') }}

    <a href="{{ path('app_autor_index') }}">volver a la lista</a>
{% endblock %}
