<form method="post" action="{{ path('app_cliente_delete', {'id': cliente.id}) }}" onsubmit="return confirm('Estas seguro de eliminar este item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cliente.id) }}">
    <button class="btn">Eliminar</button>
</form>
