{% extends 'base.html.twig' %}

{% block title %}New Cliente{% endblock %}

{% block body %}
    <h1>Registrar Cliente</h1>

    {{ include('cliente/_form.html.twig') }}

    <a href="{{ path('app_cliente_index') }}">volver a la lista</a>
{% endblock %}
