{% extends 'base.html.twig' %}

{% block title %}Editar Préstamo{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow">
                    <div class="card-header bg-primary text-white">
                        <h2 class="card-title mb-0">Editar Préstamo</h2>
                    </div>
                    <div class="card-body">
                        {{ include('prestamo/_form.html.twig', {'button_label': 'Actualizar'}) }}
                    </div>
                    <div class="card-footer text-right">
                        <a href="{{ path('app_prestamo_index') }}" class="btn btn-secondary">Volver a la Lista</a>
                        {{ include('prestamo/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
