<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="/recursos/logo.jpg">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('recursos/stilos.css')}}"></link>
            <link rel="stylesheet" href="{{asset('recursos/bootstrap/css/bootstrap.min.css')}}"></link>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-zmvWbizzcLFCMYjvACv7Jr+qOoPt5++45vLEAN+kXGyJea8mC/WDw2OnBs2l1enZsEyl1ijsdUSM1xkAYlzOoQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        {% endblock %}

        {% block javascripts %}
            <link rel="stylesheet" href="{{asset('recursos/javascript.css')}}"></link>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>