<form method="post" action="{{ path('app_libro_delete', {'id': libro.id}) }}" onsubmit="return confirm('Estas seguro de eliminar este item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ libro.id) }}">
    <button class="btn">Eliminar</button>
</form>
