<form method="post" action="{{ path('app_editorial_delete', {'id': editorial.id}) }}" onsubmit="return confirm('Estas seguro de eliminar este item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ editorial.id) }}">
    <button class="btn">Eliminar</button>
</form>
