{% extends 'base.html.twig' %}

{% block title %}Modificar Editorial{% endblock %}

{% block body %}
    <h1>Edit Editorial</h1>

    {{ include('editorial/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('app_editorial_index') }}">volver a la lista</a>

    {{ include('editorial/_delete_form.html.twig') }}
{% endblock %}
