{% extends 'base.html.twig' %}

{% block title %}Modificar Editorial{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="display-4">Modificar Editorial</h1>
        </div>

        <div class="card shadow-lg mb-4">
            <div class="card-body">
                {{ include('editorial/_form.html.twig', {'button_label': 'Actualizar'}) }}
            </div>
        </div>

        <div class="mt-4">
            <a href="{{ path('app_editorial_index') }}" class="btn btn-secondary btn-lg">Volver a la lista</a>
        </div>

        <div class="btn btn-danger mt-2">
        {{ include('editorial/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
