{% extends 'base.html.twig' %}

{% block title %}New Editorial{% endblock %}

{% block body %}
    <h1>Registrar Editorial</h1>

    {{ include('editorial/_form.html.twig') }}

    <a href="{{ path('app_editorial_index') }}">volver a la lista</a>
{% endblock %}
